.list {
  display: flex;
  margin-right: 20px;
}
.list_item {
  cursor: pointer;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0 14px;
  position: relative;
  & a {
    color: #fff;
  }
  &:hover,
  a:hover {
    transition: 0.5s;
    color: #282d3c;
  }
  &:not(:hover),
  a:not(:hover) {
    transition: 0.5s;
  }
}
