.background_color {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background: #fff;
  margin: 5px 0px 0px 20px;
}
.select_color {
  position: absolute;
  top: 27%;
  right: 5%;
  bottom: 0;
  height: 60%;
}
