.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}
.container {
  background: #535763;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.title {
  text-align: center;
  & h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
  }
}
.button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  outline: none;
  margin: 0px 15px;
  padding: 6px 15px;
  background: #00ec34;
  &:hover {
    background: #00ab26;
    transition: 0.3s;
  }
  &:not(:hover) {
    transition: 0.3s;
  }
}
