.wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
.block {
  &_name {
    display: flex;
  }
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.name {
  outline: none;
  background: transparent;
  border: 0;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 10px;
  width: 200px;
}
.block_procent {
  width: 70px;
  & span {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
}
