.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  background: #282d3c;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #fff;
}
