.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 700px;
  height: 450px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

.block {
  &_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 15px;
  }
  &_form {
    display: flex;
    flex-direction: column;
  }
}

.button_back {
  font-size: 18px;
  width: 50px;
  padding: 5px 40px;
}

.button {
  font-size: 24px;
  padding: 4px 15px;
  width: 150px;
  margin-top: 15px;
}
.text {
  &_alert {
    color: #e72d2d;
    font-family: 'Montserrat', sans-serif;
  }
}

.input {
  height: 35px;
  margin-top: 20px;
}
