.default_text {
  color: #282d3c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.title_item span {
  color: #535763;
}
.icon {
  &_item {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
  }
  &_remove {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;

    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      border-radius: 2px;
      background: #535763;
      transform: rotate(45deg);
    }

    &:before {
      width: 3px;
      height: 25px;
      top: calc(50% - 12.5px);
      left: calc(50% - 1.5px);
    }

    &:after {
      width: 25px;
      height: 3px;
      top: calc(50% - 1.5px);
      left: calc(50% - 12.5px);
    }
  }

  &_plus {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;

    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      border-radius: 2px;
      background: #535763;
    }

    &:before {
      width: 3px;
      height: 25px;
      top: calc(50% - 12.5px);
      left: calc(50% - 1.5px);
    }

    &:after {
      width: 25px;
      height: 3px;
      top: calc(50% - 1.5px);
      left: calc(50% - 12.5px);
    }
  }
}
.bottom_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
}
.icon_block {
  display: flex;
}
.form_title h2 {
  font-size: 36px;
  @extend .default_text;
  color: #ffffff;
}

.submit {
  cursor: pointer;
  width: 110px;
  padding: 4px 29px;
  font-size: 24px;
  @extend .default_text;
  color: #535763;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  &:hover {
    background: #282d3c;
    color: #fff;
    transition: all 0.5s;
  }
  &:not(:hover) {
    transition: all 0.5s;
  }
}
.block_input {
  display: flex;
  align-items: center;
}

.change_icon {
  width: 18px;
  height: 18px;
  & path {
    fill: #535763;
  }
}
.text {
  &_alert {
    color: #e72d2d;
    font-family: 'Montserrat', sans-serif;
  }
}

.input {
  height: 35px;
  margin-top: 20px;
  color: #ffffff;
  &::placeholder {
    color: #c4c4c4;
    opacity: 0.8;
  }
}
.select {
  margin: 10px 0px 0px 20px;
}
