.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 700px;
  height: 450px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}
.block {
  &_title {
    color: #282d3c;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    & span {
      font-weight: 500;
    }
  }
  &_statistics {
    margin-top: 20px;
    display: flex;
  }
  &_exit {
    position: absolute;
    bottom: 25px;
  }
}
.list {
  &_item {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    & span {
      font-weight: 500;
    }
  }
}
.text {
  &_alert {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #e72d2d;
  }
}
.button_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  margin: 10px 0px 5px 9px;
  font-size: 18px;
  padding: 7px 7px;
}
.button_exit {
  padding: 6px 12px;
  font-size: 24px;
}
