.content {
  background: #fff;
  position: relative;
  border-radius: 5px;
  width: 450px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.block {
  &_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #282d3c;
  }
  &_form {
    display: flex;
    flex-direction: column;
  }
  &_money {
    display: flex;
    align-items: center;
  }
}

.button {
  position: absolute;
  bottom: 15px;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding: 5px 20px;
  width: 150px;
  text-align: center;
  background: #00ec34;
  &:hover {
    background: #00ab26;
    transition: 0.3s;
  }
  &:not(:hover) {
    transition: 0.3s;
  }
}
.text {
  &_alert {
    color: #e72d2d;
    font-family: 'Montserrat', sans-serif;
  }
}

.input {
  height: 35px;
  margin-top: 20px;
}

.select {
  margin: 20px 0px 0px 5px;
}
