.modal_wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
  & h2 {
    font-family: 'Montserrat', sans-serif;
    color: #282d3c;
    font-size: 25px;
    font-weight: bold;
  }
}
.button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  outline: none;
  margin: 0px 15px;
  padding: 6px 15px;
  background: #00ec34;
  &_block {
    display: flex;
  }
  &:hover {
    background: #00ab26;
    transition: 0.3s;
  }
  &:not(:hover) {
    transition: 0.3s;
  }

  &_cancel {
    background: #e40000;
    &:hover {
      background: #c20000;
      translate: 0.3s;
    }
  }
}
