.wrapper {
  margin: 0 auto;
  padding: 50px;
  background: #282d3c;
}
.title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 48px;
}
.grid_budget {
  display: flex;
  flex-wrap: wrap;
}
