.wrapper {
  margin: 25px;
}
.container {
  background: #535763;
  border-radius: 10px;
  width: 800px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
