.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.list_item {
  cursor: pointer;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0 14px;
  position: relative;
  & a {
    color: #fff;
  }
  &:hover,
  a:hover {
    transition: 0.5s;
    color: #282d3c;
  }
  &:not(:hover),
  a:not(:hover) {
    transition: 0.5s;
  }
}
.open_menu {
  position: absolute;
  top: 10%;
  right: 40px;
  background: #fff;
  border-radius: 5px;
  display: none;
}
.email {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin: 0px 10px;
  color: #282d3c;
  position: relative;
  z-index: 1;
  padding: 5px 20px;
}
.info_profile_block {
  display: flex;
  flex-direction: column;
}
.button_profile {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  outline: none;
  border-radius: 0px 0px 5px 5px;
  color: #282d3c;
  font-size: 20px;
  margin-top: 10px;
  height: 40px;
  &:hover {
    background: #535763;
    transition: all 0.5s;
  }
  &:not(:hover) {
    transition: all 0.5s;
  }
}
.display_flex {
  display: flex;
}
.email_block {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin: 0px 20px;
  color: #fff;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
