.container {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
}
.button {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 24px;
  margin: 0px 15px;
  padding: 6px 15px;
  &_block {
    display: flex;
  }
}
