.email {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin: 0px 10px;
  color: #282d3c;
  position: relative;
  z-index: 1;
  text-align: center;
}
.info_profile_block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.button_profile {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  outline: none;
  border-radius: 0px 0px 5px 5px;
  color: #282d3c;
  font-size: 20px;
  height: 40px;
  &:hover {
    background: #535763;
    transition: all 0.5s;
    color: #fff;
  }
  &:not(:hover) {
    transition: all 0.5s;
  }

  &_settings {
    @extend .button_profile;
    border-radius: 0;
    margin-top: 10px;
  }
}
