.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 700px;
  height: 450px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}
.block {
  &_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_item {
      cursor: pointer;
      margin: 5px 0px 5px 9px;
      background: #282d3c;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      border: 0;
      padding: 7px 7px;
      &:hover {
        background: #383c49;
        transition: 0.5s;
      }
      &:not(:hover) {
        transition: 0.5s;
      }
    }
  }
  &_title {
    color: #282d3c;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    & span {
      font-weight: 500;
    }
  }
  &_statistics {
    margin-top: 20px;
    display: flex;
  }
  &_exit {
    position: absolute;
    bottom: 25px;
    &_button {
      cursor: pointer;
      color: #fff;
      background: #e72d2d;
      border-radius: 5px;
      padding: 6px 12px;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      border: 0;
      outline: none;
      &:hover {
        background: #ff4949;
        transition: 0.5s;
      }
      &:not(:hover) {
        transition: 0.5s;
      }
    }
  }
}
.list {
  &_item {
    margin: 5px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    & span {
      font-weight: 500;
    }
  }
}
