.wrapper {
  padding: 0px 0px 0px 15px;
}
.button {
  &_back {
    cursor: pointer;
    background: transparent;
    color: #000;
    opacity: 0.2;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border: 0;
  }
}
.container_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #282d3c;
}
.input {
  background: #535763;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 15px;
  margin: 5px 0px;
  &::placeholder {
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.submit {
  cursor: pointer;
  padding: 5px 9px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  background: #535763;
  color: #fff;
  margin: 5px 5px 0px 0px;
  border: 0;
  &_cancel {
    @extend .submit;
    background: #ff2f48;
  }
}
