.icon {
  background: #fff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  &_change {
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;
    & path {
      fill: #535763;
    }
  }
}
.wrapper {
  display: flex;
  margin-left: 15px;
}
