.block_button {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.auto_add_button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin: 10px 0px;
  width: 75px;
  height: 35px;
  color: #282d3c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
}
.auto_add_button_active {
  &:hover {
    background: #282d3c;
    color: #fff;
    transition: all 0.5s;
  }
  &:not(:hover) {
    transition: all 0.5s;
  }
}
