.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 10px 0px;
}
.logo_block {
  margin-left: 20px;
}
